<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Myntra:India&apos;s No 1 Fashion Store</title>
    <link rel="shortcut icon" href="/public/myntra logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/loginstyle.css">
</head>
<body>
    <div class="head">
        <ul>
            <li class="logo"><img src="/public/myntra logo.jpg"></li>
            <div class="left">
                <li><a href="/men">MEN</a></li>
                <li><a href="/women">WOMEN</a></li>
                <li><a href="/kids">KIDS</a></li>
                <li><a href="/home">HOME&amp;LIVING</a></li>
                <li><a href="/beauty">BEAUTY</a></li>
                <li><a href="/studio">STUDIO</a></li>
                <li><input class="search-input" id="searchInput" type="text" placeholder="Search for products,Brands and more"></li>
                <li class="space"></li>
            </div>
            <div class="space-pro"></div>
                <div class="containt">
                        <div class="pwb">
                            <div class="wimg">
                                <a href="/wishlist"><img src="/public/wishlist.png"></a>
                                <p>Wishlist</p>
                            </div>
                            <div class="bimg">
                                <a href="/bag"><img src="/public/bag.png"></a>
                                <p>Bag</p>
                            </div>
                        </div>
                </div>
        </ul>
    </div>
    <div class="log">
        <img src="/public/logdis.png">
        <br>
        <div class="hd">
            <h2 id="l1">Login</h2>
            <h2 id="l2">or</h2>
            <h2>Sighnup</h2>
        </div>
        <form >
            <input type="text" id="phone" name="phone"  placeholder="+91 |">
            <p>By continuing,I agree to the <span><a href="/views/terms">Terms Of Use</a></span> & <span><a href="/views/privacy">Privacy policy</a></span></p>
            <button type="submit">Continue</button>
        </form>
        <p id="bottom">Have a problem to logging in? <span><a href="/views/help">Get Help</a></span></p>
    </div>


</body>
</html>